body
{
    background-color: #1f2522;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    
    class:"navbar"
    {
        background-color: #333;
        overflow: hidden;
    }
    "
}
main
{

}